* {
    box-sizing: border-box;
    font-family: Muli, fantasy;

}

body {
    background-image: url("img/bg__header-line--full.png");
    background-repeat: no-repeat;


}

img {
    width: 98% ;
    position: absolute;
    top: 30px;
}


h2 {
    text-align: center;
}

input, textarea {
    margin-bottom: 10px;
    margin-right: 10px;
}

label {
    margin-right: 5px;
}

.button {
    border-radius: 20px;
    border-style: none;
    background: #5745ca;
    color: white;

}


.inputfield {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.form {
    display: flex;
    flex-direction: column;
    width: 600px;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.loginForm .form {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.header {
    display: flex;
    justify-content: end;
}